.img > img{
	width: 400px;
}
main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px 45px;
	width: 100%;
	gap: 40px;
}

main > .main_down {
	display: flex;
	flex-direction: row;
	width: 100%;
	gap: 40px;
}
@media screen and (max-width: 900px) {
	.img > img{
		width: 300px;
	}
	.paragraph > p {
		font-size: .9em;
	}
	.title > h1{
		font-size: 1.5em;
	}
	main {
		padding: 15px;
	}
	main > .main_down {
		gap: 20px;
	}
}
@media screen and (max-width: 700px) {
	main > .main_down {
		flex-direction: column-reverse;
	}
	.img > img{
		width: 100%;
	}
}