.title > h1 {
	text-align: center;
	font-size: 2em;
	font-weight: normal;
	color: #111;
}

main > .mainCont {
	display: flex;
	flex-direction: column;
<<<<<<< HEAD
	gap: 50px;
}

.img > img{
	max-width: 500px;
	width: 100%;
}
.paragraph {
	width: 600px;
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.paragraph > h3 {
	font-size: 1.4em;
	color: #111;
}
.paragraph > p {
	font-size: 1em;
    line-height: 27px;
}
.mainCont > .main_down {
	display: flex;
	flex-flow: row nowrap;
=======
	justify-content: center;
	min-height: 90vh;
	align-items: center;
	padding: 10px 45px;
>>>>>>> fd6f9e70d30818144d410ef0eb63a179f98f9253
	width: 100%;
	gap: 40px;
}

@media screen and (max-width: 1145px) {
	.paragraph {
		gap: 5px;
	}
	.paragraph > p {
		font-size: .9em;
		line-height: 25px;
	}
}

@media screen and (max-width: 900px) {
	.img > img{
		max-width: 100%;
		width: 100%;
	}

	.paragraph {
		gap: 20px;
		width: 100%;
	}

	.paragraph > h3 {
		font-size: 1.5em;
		font-weight: normal;
	}
	
	.paragraph > p {
		font-size: 1.1em;
		line-height: 32px;
	}
	.title > h1{
		font-size: 1.5em;
	}
	.mainCont > .main_down {
		flex-direction: column;
	}
}
@media screen and (max-width: 700px) {
	main > .main_down {
		flex-direction: column-reverse;
	}
	.img > img{
		width: 100%;
	}
}

@media screen and (max-width: 450px) {
    .paragraph {
        gap: 15px;
    }

    .paragraph > h3 {
        font-size: 1.8em;
    }

    .paragraph > p {
        font-size: 1em;
        line-height: 28px;
    }  
}
